/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

/* header section */
header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.376);
}
nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

/* logo  */
.logo {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  width: 60px;
  height: 28px;
  margin-right: 15px;
}

.logo h1 {
  font-size: 32px;
}

.logo span {
  color: #ff42a5;
}

/* navigation */
.navigation {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navigation li {
  text-decoration: none;
  margin-left: 20px;
}

.navigation li:last-child {
  background: #e7e6e9;
  width: 180px;
  padding: 10px 20px;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  color: #3c354f;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

/* banner  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("images/Group\ 14.png");
  background-repeat: no-repeat;
}

.banner > div {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.intro-area {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-area h1 {
  font-size: 38px;
  margin-bottom: 12px;
}

.special-title {
  font-size: 80px;
  font-weight: 900;
  background: -webkit-linear-gradient(#f948b2, #8758f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-area h3 {
  color: #534c64b7;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-area svg {
  margin-right: 10px;
  width: 18px;
}

.intro-img-area {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-area {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

#sign-in {
  background-color: #ff42a5;
  width: 130px;
}

#go-rogue {
  background-color: #4ec5f7;
  width: 150px;
}

.btn-area button {
  font-size: 15px;
  border: none;
  border-radius: 40px;
  height: 45px;
  color: white;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

/* online videos section */
.online-videos-area {
  width: 80%;
  margin: 80px auto;
}

#online-videos-intro {
  text-align: center;
}

.online-videos-area h1 {
  font-size: 50px;
  color: #0b0223;
  margin-bottom: 20px;
}

.online-videos-area p {
  font-size: 20px;
  color: #0b0223ba;
  margin-bottom: 25px;
}

.f-v-title {
  background: -webkit-linear-gradient(#f948b2, #8758f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-videos {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.online-videos > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.online-videos div p {
  font-size: 25px;
  margin-top: 20px;
  color: #534c64c7;
}

/* play-instant-area  */
.play-instant-area {
  width: 80%;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: space-between;
}

.play-instant-intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-instant-intro p {
  margin-top: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.752);
  text-align: end;
}

.play-instant-intro h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: end;
}

.play-instant-intro span {
  font-size: 50px;
  font-weight: 600;
  text-align: end;
  background: -webkit-linear-gradient(#ee4ab8, #de4cc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-instant-img-area {
  position: relative;
  width: 50%;
  margin-left: 255px;
}

.first-img {
  position: absolute;
  bottom: -65px;
  left: -155px;
}

.second-img {
  width: 100%;
  height: 100%;
}

/* games-types-area */
.games-types-section {
  background-color: #fff9fc;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-types-area {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.games-types-area div {
  display: flex;
  border-radius: 30px;
  align-items: center;
  background-color: #ffffff;
}

.games-types-area div:hover{
  border:1px solid black;
  color: #ff42a5;
  background-color: white;
}

.games-types-area div img {
  margin: 10px;
  width: 40px;
}

.games-types-area div h6 {
  font-size: 15px;
}

/* footer section  */
footer {
  background-color: #0b0223;
  color: white;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 60px;
  height: 28px;
  margin-right: 15px;
}

.footer-logo h1 {
  font-size: 32px;
}

.footer-logo span {
  color: #ff42a5;
}

.logo-title {
  color: white;
}

.navigation-links {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 20px 0;
}

.social-links {
  display: flex;
  list-style: none;
  margin: 20px 0;
}

.social-links li {
  margin: 10px 15px;
}

.terms-and-conditions {
  display: flex;
}

.terms-and-conditions p {
  margin: 0 0 20px 20px;
  color: rgba(255, 255, 255, 0.562);
}

.copy-right {
  color: rgba(255, 255, 255, 0.562);
}

/* start responsive design  */
@media screen and (max-width: 576px) {
  /* header section */
  header {
    box-shadow: none;
    /* height: 250px; */
  }
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
  }

  .logo {
    margin-bottom: 10px;
  }

  /* .logo img {
    width: 100px;
    height: 30px;
    margin-right: 20px;
  } */
  /* 
  .logo h1 {
    font-size: 25px;
  } */

  /* navigation */
  .navigation {
    flex-direction: column;
    margin-top: 10px;
  }

  .navigation ul {
    flex-direction: column;
  }

  .navigation ul li {
    margin-top: 5px;
  }

  /* banner  */
  .banner {
    background-image: none;
  }

  .banner > div {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro-area {
    width: 80%;
    order: 2;
  }

  .intro-img-area {
    order: 1;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* online videos section */
  .online-videos-area h1 {
    font-size: 25px;
  }

  .online-videos-area p {
    font-size: 10px;
  }

  .online-videos {
    display: flex;
    flex-direction: column;
  }

  .online-videos > div {
    flex-direction: column;
  }

  .online-videos div p {
    font-size: 16px;
    margin-top: 20px;
    color: #534c64c7;
  }

  /* play-instant-area  */
  .play-instant-area {
    flex-direction: column;
  }

  .play-instant-intro {
    order: 1;
  }

  .play-instant-intro p {
    margin-top: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.752);
  }

  .play-instant-intro h1 {
    font-size: 30px;
  }

  .play-instant-intro span {
    font-size: 30px;
  }

  .play-instant-img-area {
    order: 2;
  }

  /* games-types-area */
  .games-types-area {
    grid-template-columns: repeat(3, 1fr);
  }

  /* footer section  */
  footer {
    margin-top: 80px;
  }

  footer > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-logo {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .footer-logo img {
    width: 60px;
    height: 28px;
    margin-right: 15px;
  }

  .footer-logo h1 {
    font-size: 32px;
  }

  .footer-logo span {
    color: #ff42a5;
  }

  .logo-title {
    color: white;
  }

  .navigation-links {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 20px 0;
  }

  .social-links {
    display: flex;
    list-style: none;
    margin: 20px 0;
  }

  .social-links li {
    margin: 10px 15px;
  }

  .terms-and-conditions {
    display: flex;
  }

  .terms-and-conditions p {
    margin: 0 0 20px 20px;
    color: rgba(255, 255, 255, 0.562);
  }

  .copy-right {
    color: rgba(255, 255, 255, 0.562);
  }
}
